extends layout

block content
    div.container
        div.row
            div.col-md
            div.col-md.col-sm
                form(action='/create-spending-type' method='POST')
                    div.form-group
                        label Please set a spending type
                        input.form-control(type='text' name='spendingType')
                    button.btn.btn-primary(type='submit') Create
            div.col-md