extends layout

block content
    div.container
        div.row
            div.col-md
                div.jumbotron
                    h1.text-center Login
        div.row
            div.col-md
                form(method="POST" action='login')
                    div.form-group
                        label Email
                        input.form-control(type='email' name='email')
                    div.form-group
                        label Password
                        input.form-control(type='password' name='password')
                    button.btn.btn-primary(type='submit') Login