nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="/") Spending Tracker
    button.navbar-toggle.d-md-none(
        type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
    )
        span.navbar-toggler-icon
    .collapse.navbar-collapse.d-md-inline#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                if !isAuthenticated
                    a.nav-link(href="/login") Login
                    a.nav-link(href="/register") Register
                if isAuthenticated
                    a.nav-link(href="/spending") Spending
                    a.nav-link(href="/create-spending-type") Create spending type
                    include logout