extends layout

block content
    div.container
        if error
            div.row
                div.col-md
                    div.mt-0.mb-3.bg-danger.p-1
                        p.text-white= message
    div.container
        div.row
            div.col-md
                div.jumbotron
                    h1.text-center Registration
        div.row
            div.col-md
                form(method="POST" action='register')
                    input(type='hidden' value=csrfToken name='_csrf')
                    div.form-group
                        label Email
                        input.form-control(type='email' name='email')
                    div.form-group
                        label Password
                        input.form-control(type='password' name='password')
                    button.btn.btn-primary(type='submit') Register

